@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
  font-family: "Rethink Sans", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {

  font-family: "Rethink Sans", sans-serif !important;
  font-weight: 700;
  font-style: normal;
  
}

.remark-code, .remark-inline-code {
  font-family: "JetBrains Mono", monospace !important;
}
