@import url("https://fonts.googleapis.com/css?family=Lato|Oswald|Inconsolata");

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", serif;
}

.remark-code, .remark-inline-code {
  font-family: "Inconsolata", monospace;
}