$font-family_1: urw-din, sans-serif;
$font-family_2: tenso, sans-serif;
$font-family_3: "Inconsolata", monospace;

@import "https://fonts.googleapis.com/css?family=Lato|Oswald|Inconsolata";
@import "https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap";
@import "https://use.typekit.net/owl3efp.css";
body {
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
}
h1 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
}
h2 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
}
h3 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
}
h4 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
}
h5 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
}
h6 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
}
.remark-code {
	font-family: $font-family_3;
}
.remark-inline-code {
	font-family: $font-family_3;
}
